<div th:replace="shared/header"></div>

<div class="box">
    <div class="box-header with-border">
        <a th:href="@{'/'+${pageURI}+'/create'}" title="Create new Task">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>

    <div class="box-body">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>             
                    <th>Supplier Name</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="record:${records}">
                    <td th:text="${record.id}"></td>
                    <td th:text="${record.supplier.name}"></td>
                    <td th:text="${record.orderedDate}"></td>
                    <td>
                        <a th:href="@{'/'+${pageURI}+'/edit/'+${record.id}}" title="Edit Task">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a th:href="@{'/'+${pageURI}+'/delete/'+${record.id}}" onclick="return confirm('Are you sure to delete?')" title="Delete Task">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div th:replace="shared/footer"></div>