
<div th:replace="shared/header"></div>
<div class="box box-primary">
    <form role="form" method="post" th:action="@{'/'+${pageURI}}">
        <div class="box-body">

            <div class="form-group">
                <label>Customer</label>
                <select name="customer.id" class="form-control" required/>
                <option value="">Select Customer</option>
                <option th:each="customer:${customers}" th:value="${customer.id}" th:text="${customer.firstName+ ' ' +customer.lastName}">Select Supplier</option>
                </select>
            </div>   

            <div class="form-group">
                <label for="birthday">Delivery date:</label>
                <input type="date" name="deliveryDate" required/>
            </div>
        </div>

        



        <a class="btn add-btn">
            <span class="glyphicon glyphicon-plus"></span>
        </a>

        <div id="view-table" class="box-body">

            <table id="products" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>            
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Unit</th> 
                    </tr>
                </thead>
            </table>
        </div>


        <div id="view-table-hide" class="box-body">

            <table id="productsHid" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>            
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Unit</th> 
                    </tr>
                </thead>
            </table>
            <!--<div th:replace="requestOrders/table"></div>-->
        </div>

        <div class="box-footer">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit" class="btn btn-success">Save</button>
            <a th:href="@{'/'+${pageURI}/create}" class="btn btn-danger">Back</a>
        </div>
    </form>
</div>

<!-- Modal -->
        <div class="modal fade" id="form-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <form id="app-form">
                        <div class="modal-body">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Product</label>
                                    <select id="product" name="product" class="form-control" required/>
                                    <option value="">Select Product</option>
                                    <option th:each="product:${products}" th:value="${product.name}" th:rel="${product.id}" th:text="${product.name}">Select Vendor</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>product id</label>
                                    <input id="productId" type="text" name="productId" class="form-control" required/>
                                </div> 

                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input id="qty" type="text" name="qty" class="form-control" required/>
                                </div>

                                <div class="form-group">
                                    <label>Unit</label>
                                    <select id="unit" name="unit" class="form-control" required/>
                                    <option value="">Select Unit</option>
                                    <option th:each="unit:${units}" th:value="${unit.code}" th:rel="${unit.id}" th:text="${unit.code}">Select Vendor</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>unitId</label>
                                    <input id="unitId" type="text" name="unitId" class="form-control" required/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button id="add-item" class="btn btn-primary">Add Item</button>
                            <button type="submit" class="btn btn-primary" data-dismiss="modal">Done</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>


<div th:replace="shared/footer"></div>



<script>
    var products = [];
    var hidden = [];
    var $dialog = $('#form-dialog');
    $(document).ready(function () {
        $('.add-btn').on('click', function () {
            $dialog.find('.modal-title')
                    .html('Add Products');
            $dialog.modal();
            return false;
        });


        $('#app-form').on('submit', function () {
            try {
                var qty = $('#qty').val();
                var product = $('#product').val();
                var unit = $('#unit').val();

                var productId = $('#productId').val();
                var unitId = $('#unitId').val();

                hidden.push({
                    quantityHid:unitId, qty, productId
                })

                products.push({
                    quantity: unit, qty, product
                })
                $('table#products').find('tbody').empty();

                $.each(products, function (index) {
                    $("table#products").append("<tr>");
                    $.each(products[index], function (key, value) {
                        $('table#products tr:last').after('<td>' + value + '</td>');
                    });
                    $("table#products").append("</tr>");
                });

//                $('table#products').append("<tr>");
//                $('table#products').append("<td value="+productId+">"+product+"</td>");
//                $('table#products').append("<td value="+qty+">"+qty+"</td>");
//                $('table#products').append("<td value="+unitId+">"+unit+"</td>");
//                $('table#products').append("</tr>");

                $('table#productsHid').find('tbody').empty();

                $.each(hidden, function (index) {
                    $("table#productsHid").append("<tr>");
                    $.each(hidden[index], function (key, value) {
                        $('table#productsHid tr:last').after('<td>' + value + '</td>');
                    });
                    $("table#productsHid").append("</tr>");
                });

                console.log(hidden);                
                
            } catch (error) {
                console.log(error)
            }
            return false;
        });



        $('select[name=product]').on('change', function () {
            var prod = $(this).find('option:selected').attr('rel');
            $('#productId').val(prod);
        })

        $('select[name=unit]').on('change', function () {
            var prod = $(this).find('option:selected').attr('rel');
            $('#unitId').val(prod);
        })

    });
</script>