
<div th:replace="shared/header"></div>
<div class="box box-primary">
    <form role="form" method="post" th:action="@{'/'+${pageURI}}">
        <div class="box-body">
            <div class="form-group">
<!--                <label>Suppliers</label>
                <select name="supplier" class="form-control" required>
                    <option value="">Select Supplier</option>
                    <option th:each="supplier:${suppliers}" th:value="${supplier.id}" th:text="${supplier.name}">Select Supplier</option>
                </select>
            </div>-->

            <div class="form-group">
                <label>Product Name</label>
                <select name="product" class="form-control" required>
                    <option value="">Select Product</option>
                    <option th:each="product:${products}" th:value="${product.id}" th:text="${product.name}">Select Supplier</option>
                </select>
            </div>            

            <div class="form-group">
                <label>Unit</label>
                <select name="unit" class="form-control" required>
                    <option value="">Select Unit</option>
                    <option th:each="unit:${units}" th:value="${unit.id}" th:text="${unit.desc}">Select Unit</option>
                </select>
            </div>

            <div class="form-group">
                <label>Price</label>
                <input type="text" name="rate" class="form-control" required/>
            </div>

            <div class="form-group">
                <label>Quantity</label>
                <input type="text" name="quantity" class="form-control" required/>
            </div>
        </div>

        <div class="box-footer">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit" class="btn btn-success">Save</button>
            <a th:href="@{'/'+${pageURI}}" class="btn btn-danger">Back</a>
        </div>
    </form>
</div>
<div th:replace="shared/footer"></div>