<div th:replace="shared/header"></div>

<div class="box">
    <div class="box-header with-border">
        <a th:href="@{'/'+${pageURI}+'/create'}" class="add-btn" title="Create new Task">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <div th:replace="units/table"></div>
    
</div>

<div th:replace="units/components/createModal"></div>

<div th:replace="shared/footer"></div>

<script>
    $(document).ready(function(){
        
        $('.add-btn').on('click', function(){
            var $dialog = $('#form-dialog');
            $dialog.find('.modal-title')
                    .html('Add Product');
            $dialog.modal();
            return false;
        });
        
        $('#view-table').on('click','.edit-btn', function(){
            var $id = $(this).attr('rel');
            $.getJSON('/units/json/'+$id,function(data){ 
                console.log(data);
                $('input[name=desc]').val(data.desc);
                $('input[name=code]').val(data.code);
                $('input[name=id]').val(data.id); 
            });
            var $dialog = $('#form-dialog');
            $dialog.find('.modal-tile')
                    .html('Edit Product');
            $dialog.modal();
            return false; 
        });
    });
</script>