
<div class="box-body">
    <table class="table table-bordered table-striped table-hover" id="view-table">
        <thead>
            <tr>
                <th>Id</th>             
                <th>Product</th>             
                <th>Supplier</th>
                <th>Code</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="record:${records}">
                <td th:text="${record.id}"></td>
                <td th:text="${record.product.name}"></td>
                <td th:text="${record.product.supplier.name}"></td>
                <td th:text="${record.unit.code}"></td>
                <td th:text="${record.quantity}"></td>                   
                <td th:text="${record.price}"></td>
                <td>
                    <a th:href="@{'/'+${pageURI}+'/edit/'+${record.id}}" th:rel="${record.id}" th:sup="${record.id}" class="edit-btn" title="Edit Task">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a th:href="@{'/'+${pageURI}+'/delete/'+${record.id}}" onclick="return confirm('Are you sure to delete?')" title="Delete Task">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>